
<h3>Create a ChatBot for your website</h3>
<div class="container ">
  
<div class="row">

<div class="col-sm border border-primary">

<h3>You can customize your bot</h3>

<form>

<div class="form-group">
<label for="header">Header</label>
<input type="text" class="form-control shadow p-4 mb-4 bg-white" id="header" aria-describedby="headerHelp" placeholder="Hi! How can I help you today?">
</div>

<div class="form-group"> <label for="botName">Bot name</label>
<input type="text" class="form-control" id="botname" placeholder="TriconBot">
</div>

<div class="form-group">
<label for="avatarbot">Choose your avatar(Bot)</label>
<div class="row" style="display: flex !">
<div class="column " style="flex: 33.33%; padding: 5px;">
<img src="../../assets/bot1.png" alt="bot1" style="width:10%">
</div>

<div class="column" style="flex: 33.33%; padding: 5px;">
<img src="../../assets/bot2.png" alt="bot2" style="width:10%">
</div>

<div class="column" style="flex: 33.33%; padding: 5px;">or
<a href="" style ="text-decoration: none">Add your own</a>
</div>
</div>
</div>

<div class="form-group">
<label for="avatarguest">Choose your avatar(Guest)</label>
<div class="row" style="display: flex !">
<div class="column " style="flex: 33.33%; padding: 5px;">
<img src="../../assets/bot1.png" alt="bot1" style="width:10%">
</div>

<div class="column" style="flex: 33.33%; padding: 5px;">
<img src="../../assets/bot2.png" alt="bot2" style="width:10%">
</div>

<div class="column" style="flex: 33.33%; padding: 5px;">or
<a href="" style ="text-decoration: none">Add your own</a>
</div>
</div>
</div>

<div class="form-group">
<label for="inputState">Theme color</label>
<select id="inputState" class="form-control">
<option selected> </option>
<option>...</option>
</select>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>

<div class="col-sm"> One of three columns </div>
</div>
</div>
